.ball {
    background-color: #cd5b45;
    width: 4em;
    height: 4em;
    text-align: center;
    border-radius: 100%;
    margin: 0.5em;
}

.number {
    justify-content: center;
    color: white;
    font-weight: 900;
    font-family: "American Typewriter";
    font-size: 2em;
    margin: 0.4em;
}