.generateButton {
    color: white;
    border: 0px;
    background-color: darkslateblue;
    border-radius: 0.5em;
    font-size: 1.2em;
}

.lottery {
    display: flex;
    margin: 1em;
    padding: 0.5em;
    justify-content: center;
}

.lottery-container {
    justify-content: center;
    width: 600px;
    margin: 1em;
    border: 1px solid;
    padding: 1em;
    border-radius: 10px;
}